body {
    top: 0;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: relative;
}

.hidden {
    display: none;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: 100vh;

    .title {
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 5px;
        height: 10vh;
        $stroke-width: 35px * 0.2;
        text-transform: uppercase;
        font-size: 40px;
        color: $darkColor;
        text-align: center;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background-color: white;
        border-radius: 5px;
        border: 3px solid $deathColor;
        margin-top: 20px;
        width: 300px;
        height: 270px;
        padding: 20px 40px;

        .label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            font-family: Courier;
            font-weight: bold;
            color: $darkColor;
            font-size: 20px;
        }

        .form--input-text {
            padding: 10px;
            display: block;
            width: 190px;
            border: 1px solid $deathColor;
            transition: ease 0.3s, border 0.3s;
            color: $darkColor;
            margin-bottom: 15px;
            font-size: 1.2em;
            border-radius: 5px;
            outline: none;

            &:focus {
                border: 1px solid $secundaryColor;
            }
        }

        .form--input-submit {
            cursor: pointer;
            margin: 0 auto;
            width: 190px;
            height: 35px;
            background-color: $darkColor;
            border: 1px solid $darkColor;
            border-radius: 5px;
            color: white;
            transition: ease 0.3s;

            &:hover {
                background-color: #01627a;
            }
        }
    }

    .chat {
        background-color: white;
        border-radius: 5px;
        border: 3px solid $deathColor;
        box-sizing: border-box;
        width: 100%;
        max-width: 600px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .chat-info {
            position: relative;
            border-bottom: 2px solid $deathColor;
            font-weight: bold;
            color: $darkColor;
            text-align: center;
            width: 100%;

            .chat-exit {
                cursor: pointer;
                padding: 0;
                background-color: transparent;
                color: $darkColor;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 3em;
                transition: 0.2s all;
                border: none;
                &:hover {
                    color: $secundaryColor;
                }
            }

            .chat-idRoom {
                width: 100%;
                font-family: Courier;
                font-size: 2em;
            }

            .chat-number-users {
                position: absolute;
                cursor: pointer;
                font-family: Courier;
                font-size: 1em;
                right: 5px;
                bottom: 5px;
                margin: 0;
                margin-bottom: 5px;
                border: 1px solid $darkColor;
                border-radius: 5px;
                padding: 5px;
                transition: 0.2s all;
                &:hover {
                    background-color: $darkColor;
                    color: white;
                }
            }
        }

        .chat-msgs {
            box-sizing: border-box;
            height: 70%;
            width: 100%;
            padding: 0 5px;
            overflow: hidden;
            white-space: normal;
            flex: 1;
            .chat-msg {
                font-family: Courier;
                font-size: 1.2em;
                font-weight: 700;
                width: 100%;
                word-break: break-all;
            }
            .chat-msg--system {
                text-align: center;
            }
            .chat-msg--other {
                color: $deathColor;
            }
            .chat-msg--sending {
                text-align: right;
                color: $lightColor;
            }
            .chat-msg--user {
                text-align: right;
                color: $secundaryColor;
            }

            &::-webkit-scrollbar {
                width: 20px;
                margin-left: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $darkColor;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $darkColor;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: $deathColor;
            }
        }

        .form-message {
            box-sizing: border-box;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .chat-input--message {
                width: 100%;
                padding: 10px;
                display: inline-block;
                border: 1px solid $deathColor;
                transition: ease 0.3s, border 0.3s;
                color: $darkColor;
                font-size: 1.2em;
                border-radius: 5px;
                margin-right: 10px;
                outline: none;

                &:focus {
                    border: 1px solid $secundaryColor;
                }
            }
            .chat-input--submit {
                font-size: 40px;
                cursor: pointer;
                filter: invert(35%) sepia(21%) saturate(1105%)
                    hue-rotate(143deg) brightness(94%) contrast(90%);
                transition: 0.2s all;
                &:hover {
                    filter: invert(39%) sepia(50%) saturate(1351%)
                        hue-rotate(143deg) brightness(95%) contrast(91%);
                }
            }
        }
    }

    .chat-users {
        font-family: Courier;
        background-color: #ddd;
        position: absolute;
        box-sizing: border-box;
        border-radius: 5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid $deathColor;
        height: 50%;
        width: 50%;
        padding: 10px 30px;
        overflow: auto;

        .fa-times {
            cursor: pointer;
            color: $darkColor;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .chat-users--title {
            font-size: 1.5em;
            font-weight: bold;
            color: $darkColor;
        }

        .chat-users--list {
            .chat-users--user {
                font-size: 1.3;
                font-weight: bold;
                color: $deathColor;
            }
        }
    }
}

@media (min-width: 600px) {
    .main {
        position: relative;
        padding: 0;
    }

    .chat {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
