@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.main {
    margin: 50px 20px;
    padding: 20px;

    .title--login {
        $text: "welcome to chat";
        &:after {
            content: $text;
        }
        &:before {
            content: $text;
        }
    }

    .title--chat {
        $text: "Connected";
        &:after {
            content: $text;
        }
        &:before {
            content: $text;
        }
    }

    .title {
        margin: 0;
        position: absolute;
        $stroke-width: 35px * 0.2;
        font-family: "Pacifico", cursive;
        text-transform: uppercase;
        font-size: 40px;
        color: white;
        text-align: center;
        -webkit-text-stroke-width: $stroke-width;
        margin-bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-text-stroke-width: 0;
            color: $secundaryColor;
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-text-stroke-width: $stroke-width + 15px;
            -webkit-text-stroke-color: $darkColor;
        }
    }

    .form {
        position: absolute;
        box-sizing: border-box;
        background-color: white;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid $deathColor;
    }

    .form-login {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 190px;
        padding: 40px;

        .label {
            display: block;
            margin-bottom: 10px;
            font-family: Courier;
            font-weight: bold;
            color: $darkColor;
        }

        .form--input-username {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            border: 1px solid $deathColor;
            transition: ease 0.3s, border 0.3s;
            color: $darkColor;

            &:focus {
                border: 1px solid $secundaryColor;
            }
        }

        .form--input-submit {
            cursor: pointer;
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
            width: 75%;
            height: 35px;
            background-color: $darkColor;
            border: 1px solid $darkColor;
            border-radius: 5px;
            color: white;
            transition: ease 0.3s;

            &:hover {
                background-color: #01627a;
            }
        }
    }

    .chat {
        .form-message {
            margin-top: 70px;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            gap: 10px;

            .chat-number-users {
                cursor: pointer;
                font-weight: bold;
                height: 10%;
                margin-bottom: 20px;
                color: $darkColor;
                text-align: center;
                .chat-number-users-text {
                    font-family: Courier;
                    font-size: 1.4em;
                }
            }

            .chat-msgs {
                box-sizing: border-box;
                height: 70%;
                overflow-y: scroll;
                padding: 0 10px;
                border: 2px solid $deathColor;
                border-radius: 5px;
                .chat-msg {
                    font-family: Courier;
                }
                .chat-msg--system {
                    text-align: center;
                }
                .chat-msg--other {
                    color: $deathColor;
                }
                .chat-msg--user {
                    text-align: right;
                    color: $secundaryColor;
                }
            }

            .chat-input {
                height: 10%;
                .chat-input--message {
                    box-sizing: border-box;
                    border: 2px solid $deathColor;
                    position: absolute;
                    width: 80%;
                }
                .chat-input--submit {
                    box-sizing: border-box;
                    border: 2px solid $deathColor;
                    border-radius: 5px;
                    position: absolute;
                    right: 3%;
                    cursor: pointer;
                    background-color: $darkColor;
                    color: white;
                }
            }
        }

        .chat-users {
            background-color: #ddd;
            position: absolute;
            box-sizing: border-box;
            border-radius: 5px;
            margin-top: 70px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 3px solid $deathColor;
            height: 50%;
            width: 50%;
            padding: 30px;
        }
    }
}
